<div id="getPostDiv">
<p> Data displayed as Name : Value 
<br>
<br>
		<!  POST Data:>
	{{#if isPost}}
		<p><b> POST </b>received:</p>
		
		{{#each post.params}}
		<ul>
			<li>{{this.name}} : {{this.value}} </li>
		{{/each}}
		</ul>
		
		<!  GET Data:>
		{{else}}
		<p><b> GET </b>received:</p>
		
		{{#each params}}
		<ul>
			<li>{{this.name}} : {{this.value}} </li>
		{{/each}}
		</ul>
		
		
	{{/if}}
</div>